* {
    margin: 0;
    padding: 0;
    }

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Feed {
    margin-top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}