* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C2C2C;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    text-align: center;
    font-family: Inter,sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: gray;
  }

.title { 
    text-align: center;
}

.Login {
  height: 100vh;
  width: 100vw;  
}

.row {
  width: 100%;
}

.box-size {
  width: 450px;
  max-width: 60vw;
  height: 400px;
  max-height: 40vh;
  padding:40px;
  border-radius: 12px;
  background-color: white;
}

.content-box {
  width: 90%;
  height: 90%;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-login-options {
  margin: 1%;
}

.center { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-exit {
  position: relative; 
  right: -50%;
  top: -7%;
}

.login-button { 
    background-color: rgb(11, 203, 236);
}

.btn-size{
    width: 40;
}
