.Recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-container {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 95vw;
    background-color: white;

    position: relative;
}

.recipe-imagebox {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    background-color: gray;
    
    position: absolute; 
}

.rating-container {
    position: absolute;
    right: 10%;
    top: 20px;

    display: flex;
    flex-direction: column;
}

.info-container {
    margin: 0 auto;
    width: 50%;
}

.recipe-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.desc-title {
    margin-bottom: 5px;
}

.desc-textbox {
    width: 750px;
    margin-bottom: 20px;
}

.ingr-list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.inst-textbox {
    width: 750px;
}