.Feed {
    max-width: 90vw;
    width: 1400px;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: 
    "sort search-box";

    width: 100%;
    height: 35px;

    position: sticky;
    top: 0;
}

.sort-by-container {
    grid-row: 1;
    grid-column: 1;

    justify-self: start;
    align-self: center;
    padding-left: 5%;
    /*background-color: blue;*/
}

.search-box-container {
    grid-row: 1;
    grid-column: 2;

    justify-self: end;
    align-self: center;
    padding-right: 5%;
    /*background-color: red;*/
}