.NavigationBar {
    background-color: black;
    width: 100vw;
    height: 50px;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-account {
    grid-column: 2;
    
    justify-self: end;
    align-self: center;
    padding-right: 5%;
}

.icon-link {
    grid-column: 1;

    justify-self: start;
    align-self: center;
    padding-left: 5%;

    font-size: 25px;
}
